/*
  Colour Palette
  - Light Blue: #0088CC - rgb(0, 136, 204)
  - Lighter Blue: #AECBE9 - rgb(174, 203, 233);
  - Navy Blue: #002C52 - rgb(0, 44, 82)
  - Dark Brown: #522600 - rgb(82, 38, 0);
 */

html {
  font: normal 100%/1 'Open Sans', sans-serif; /* 16px/16px */
}

h1, h2, h3, h4, h5, h6, small
p, ul, ol, dl,
blockquote, table, hr {
  margin: 0 0 1rem;
}

h1, h2, h3, h4, h5, h6, small
blockquote, table, hr {
	color:#522600;
}

p, ul, ol, dl {
	color:#002C52;
}

.white {
  color:#fff;
}

.yotta {
  font-size: 4.7684rem;
  line-height: 1.0486;
}

.zetta {
  font-size: 3.8147rem;
  line-height: 1.0486;
}

h1, .exa {
  font-size: 3.0518rem;
  line-height: 1.3107;
}

h2, .peta {
  font-size: 2.4414rem;
  line-height: 1.2288;
}

h3, .tera {
  font-size: 1.9531rem;
  line-height: 1.0240;
}

h4, .giga {
  font-size: 1.5625rem;
  line-height: 1.2800;
}

h5, .mega {
  font-size: 1.2500rem;
  line-height: 1.6000;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.0000;
}

small, .milli {
  font-size: 0.8000rem;
  line-height: 1.2500;
}

.micro {
  font-size: 0.6400rem;
  line-height: 1.5625;
}

a:link,
a:visited, 
a:active{
	text-decoration: none;
	color: #0088CC;
}

a:hover {
	color: #522600;
}

mark {
  background-color: #0088CC;
}

.list-group {
  list-style-type: none;
}

.list-group-item:before {
  content: "";
}

.list-group-item {
  display: block;
}

.list-group-item-inline {
  display: inline-block;
}

.flex-img {
  width: 100%;
  display: block;
}